.landing__container {
    max-width: 900px;
    height: 760px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing__logo {
    width: 300px;
}

.landing__title {
    line-height: 80px;
    font-size: 36px;
    font-weight: bold;
}

.landing__description {
    color: #333333;
    width: 50%;
    margin: auto;
    line-height: 32px;
}